<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-top></app-top>
            <img class="float-right" width="50" alt="Opties" src="assets/cogwheel.svg" [routerLink]="'/settings'">
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-4">
            <app-menu-item [menuItem]="items[0]"></app-menu-item>
        </div>
        <div class="col-4 offset-2">
            <app-menu-item [menuItem]="items[1]"></app-menu-item>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="offset-1 col-4">
            <app-menu-item [menuItem]="items[2]"></app-menu-item>
        </div>
        <div class="col-4 offset-2">
            <app-menu-item [menuItem]="items[3]"></app-menu-item>
        </div>
    </div>
</div>
