<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-inline-block offset-md-1">
                <h1>Hallo, mijn naam is {{pepperName}}</h1>
            </div>
            <img class="float-right" width="50" alt="Opties" src="assets/cogwheel.svg" [routerLink]="'/settings'">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class=" d-inline-block offset-md-1 text-muted">Welkom op de polikliniek</h2>
        </div>   
    </div>
    <div class="row offset-md-1 mt-2">
        <div *ngFor="let item of items;" class="mr-4 mb-4">
            <app-menu-item [menuItem]="item"></app-menu-item>
        </div>
    </div>
</div>
