.footer-images {
    margin: auto;
    display: block;
    position: absolute;
    bottom: 0;
    width: 98%;
}

.card-body {
    background-image: url("/assets/menu/story.png");
    background-size: contain;
}