<app-top [title]="'Dieren raadsels'" ></app-top>
<div class="row">
    <div class="col-md-12" style="height:735px;">
      <div class="row h-50">
        <div class="col-md-6 d-flex justify-content-center" (click)="selectedOption(items[0])">
          <img src="assets/riddle/image/{{items[0].imageFile}}">
        </div>
        <div class="col-md-6 d-flex justify-content-center" (click)="selectedOption(items[1])">
          <img src="assets/riddle/image/{{items[1].imageFile}}">
        </div>
      </div>
      <div class="row h-50">
        <div class="col-md-6 d-flex justify-content-center" (click)="selectedOption(items[2])">
          <img src="assets/riddle/image/{{items[2].imageFile}}">
        </div>
        <div class="col-md-6 d-flex justify-content-center" (click)="selectedOption(items[3])">
          <img src="assets/riddle/image/{{items[3].imageFile}}">
        </div>
      </div>
    </div>
  </div>
