<div class="card" style="width: 24rem; height: 19rem;">
    <div class="card-body">
        <div class="d-inline-block">
            <h3 class="card-title-top">{{storyItem.name}}</h3>
        </div>
        <img class="float-right" width="25" alt="Opties" src="assets/audio.svg" (click)="explainItem()">
        <h6 class="card-subtitle mb-2 text-muted">{{storyItem.description}}</h6>
        <img class="card-img-top" width="200px" height="240px" src="{{storyItem.image}}" alt="Afbeelding" (click)="navigate()" >
    </div>
</div>
