<app-top [title]="'Pepper instellingen'"></app-top>
<div class="offset-md-1">
    <div class="mb-3">
        <label for="name">Pepper naam</label>
        <input id="name" #name type="text" value="{{pepperName}}" (change)="setPepperName(name.value)">
    </div>
    <div class="custom-control custom-switch mb-3">
        <input class="custom-control-input" id="pepperAnimatedSpeech" type="checkbox" [checked]="settingsService.isAnimatedSpeech()" (change)="toggleAnimatedSpeech()">
        <label class="custom-control-label" for="pepperAnimatedSpeech">Pepper animated speech</label>
        <img class="" width="50" alt="Opties" src="assets/audio.svg" (click)="testVolume()">
    </div>
    <div class="mb-3 col-md-3">
        <label for="volume">Volume {{ currentVolume }}</label>
        <input type="range" value="{{currentVolume}}" #volume class="custom-range" min="0" max="100" (input)="setVolume(volume.value)">      
    </div>    
</div>
